@import '~common/style-guide/index';

.general-settings-form {
  &__info-panel {
    height: 48px;
    padding: 0 24px;
    background-color: map-get($color-palette, ultra-light-blue);
    color: $slate-gray;
    font-size: 14px;
    line-height: 24px;
  }

  &__info-icon {
    margin-right: 8px;
  }

  &__save-changes-button {
    min-height: 32px;
    width: 122px;
    min-width: 122px;
    border-radius: 16px;
    font-size: 14px;
    font-family: $semibold-font;
  }

  &__error-message {
    height: 40px;
    width: 100%;
    background-color: rgba(255, 2, 2, 0.1);
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, red100);
  }

  &__error-message-icon {
    margin-left: 24px;
    margin-right: 8px;
  }

  &__content {
    margin: 16px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
  }

  &__copy-button {
    color: map-get($color-palette, blue100);
    cursor: pointer;
  }

  &__agent-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__description {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 32px;
  }
}
