@import '~common/style-guide/index';

.packages-tree-coverage-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 8px;

    &--type {
      &--success {
        color: map-get($color-palette, green100);
      }

      &--warning {
        color: map-get($color-palette, yellow50);
      }

      &--error {
        color: map-get($color-palette, red100);
      }
    }
  }
}
