@import '../../../common/style-guide/index';

.coverage-plugin {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    margin: 0 24px;
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px 24px 0 24px;
  }

  &__settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: 1px solid map-get($color-palette, blue100);
    border-radius: 16px;
    color: map-get($color-palette, blue100);
    margin-left: 16px;
    cursor: pointer;
  }
}
