@import '~common/style-guide/index';

.notifications-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: map-get($color-palette, white);

  &__header {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    color: map-get($color-palette, black100);

    & > * {
      margin-right: 8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
  }

  &__actions-panel {
    border-bottom: 1px solid map-get($color-palette, light-blue);
    font-family: $semibold-font;
    font-size: 12px;
    line-height: 38px;
    color: map-get($color-palette, blue100);

    & > * {
      margin-right: 16px;
      cursor: pointer;

      &:hover {
        color: map-get($color-palette, blue75);
      }

      &:active {
        color: map-get($color-palette, blue125);
      }
    }
  }

  &__notifications-list {
    overflow: hidden;
    overflow-y: auto;
  }

  &__empty-notification-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: map-get($color-palette, light-blue);
  }

  &__title {
    margin: 40px 0 8px 0;
    color: map-get($color-palette, middle-blue);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  &__sub-title {
    color: $slate-gray;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
