.exception-type {
  font-family: $FONT-SEMIBOLD;
  color: #1B191B;
}

.exception-message {
  font-style: italic;
  color: #909EA9;
}

.action-link {
  cursor: pointer;
  color: #007FFF;
}

.event-type-mark {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #1B191B;
  box-sizing: border-box;
  margin-right: 8px;

  &.local {
    background-color: #1B191B;
  }
}
