@import '~common/style-guide/index';

.coverage-plugin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid map-get($color-palette, light-blue);

  &__actions {
    display: flex;
    align-items: center;
  }

  &__quality-gate-section {
    padding-left: 16px;
    padding-right: 40px;
    border-left: 1px solid map-get($monochrome, medium-tint);
    color: map-get($monochrome, default);
  }

  &__plugin-name {
    font-family: $light-font;
    font-size: 24px;
    line-height: 32px;
  }

  &__current-build {
    display: flex;
    margin-top: 4px;
    font-family: $semibold-font;
    font-size: 12px;
    line-height: 16px;
    color: map-get($monochrome, default);
  }

  &__version {
    margin-left: 4px;
    color: map-get($monochrome, black);
  }

  &__quality-gate-label {
    font-size: 12px;
    line-height: 16px;
    font-family: $semibold-font;
  }

  &__info-icon {
    display: flex;
    margin-left: 8px;
  }

  &__status-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 14px;

    &--type {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &--passed {
        color: map-get($green, default);
      }

      &--failed {
        color: map-get($red, default);
      }
    }
  }

  &__status-title {
    margin-left: 8px;
    font-family: $semibold-font;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
