@import '~common/style-guide/index';

.finish-all-scope-modal {
  width: 480px;

  &__content {
    margin: 24px;
    font-size: 14px;
    line-height: 24px;
  }

  &__instructions {
    margin-top: 8px;

    & > *::before {
      margin: 0px 16px;
      content: '\2022';
    }
  }

  &__actions-panel {
    margin-top: 24px;
  }

  &__finish-scope-button {
    min-height: 32px;
    margin-right: 16px;
    padding: 0 16px;
    width: auto;
    font-size: 14px;
    font-family: $semibold-font;
  }
}
