@import '~common/style-guide/index';

.coverage-section {
  &__coverage-arrow {
    margin-left: 6px;

    &--type {
      &--increase {
        color: map-get($color-palette, green100);
      }
      &--decrease {
        color: map-get($color-palette, red100);
      }
    }
  }

  &__link {
    font-family: $semibold-font;
    color: map-get($primary-blue, default);
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;
  }

  &__build-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
