@import '~common/style-guide/index';

.general-registration-settings-form {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    margin: 24px;
  }

  &__copy-button {
    color: map-get($primary-blue, default);
    cursor: pointer;
  }

  &__register-agent-button {
    min-height: 32px;
    width: 164px;
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 19px;
  }

  &__agent-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__description {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
