@import '~common/style-guide/index';

.selectable-list {
  &:hover {
    background-color: rgba(104, 116, 129, 0.05);
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--selected {
      background-color: rgba(0, 127, 255, 0.15);
    }
  }

  &__plugin-relation {
    height: 20px;
    margin-left: 8px;
    line-height: 16px;
    font-size: 12px;
    font-family: $semibold-font;
  }

  &__plugin {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 16px 8px 16px 16px;
    border-bottom: 1px solid map-get($monochrome, medium-tint);
  }

  &__checkbox {
    margin-right: 8px;
  }

  &__plugins-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    height: 56px;
    min-width: 56px;
    border-radius: 8px;
    background-color: map-get($monochrome, light-tint);
    color: map-get($monochrome, default);

    &--selected {
      background-color: map-get($primary-blue, default);
      color: map-get($monochrome, white);
    }
  }

  &__plugin-name {
    font-size: 14px;
    font-family: $semibold-font;
    color: map-get($monochrome, black);
  }

  &__plugin-version {
    flex-grow: 1;
    font-family: $regular-font;
    font-size: 12px;
    text-align: right;
    color: map-get($monochrome, black);
  }
  &__plugin-description {
    width: 200px;
    height: 32px;
    margin-top: 4px;
    font-family: $regular-font;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    color: map-get($monochrome, default);
    overflow: hidden;
  }
}
