@import '~common/style-guide/index';

.code-coverage-card {
  height: 100%;
  width: 100%;

  &__total-coverage {
    width: 100%;
    line-height: 40px;
    font-family: $light-font;
    font-size: 48px;
    padding-bottom: 22px;
    color: $slate-gray;
  }

  &__arrow-icon {
    margin-left: 6px;
    &--type {
      &--increase {
        color: map-get($color-palette, green100);
      }
      &--decrease {
        color: map-get($color-palette, red100);
      }
    }
  }

  &__additional-info {
    font-size: 12px;
    line-height: 20px;
    color: $slate-gray;
  }
}
