@import '~common/style-guide/index';

.test-to-run-url {
  min-width: 300px;
  max-width: 300px;
  font-size: 12px;
  line-height: 16px;
  color: map-get($color-palette, blue100);
  word-break: break-all;

  & > *:not(:first-child) {
    margin-left: 16px;
  }

  &__curl-flag {
    min-width: 18px;
    font-family: $semibold-font;
    color: map-get($color-palette, black100);

    &--color {
      &--red {
        color: map-get($color-palette, red100);
      }
    }

    &--invisible {
      opacity: 0;
    }
  }
}
