@import '~common/style-guide/index';

.build-updates {
  height: 100%;
  width: 100%;

  &__title {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    font-family: $semibold-font;
  }

  &__content {
    display: flex;
    padding: 16px;
    border: 1px solid map-get($monochrome, medium-tint);

    & > :not(:last-child) {
      margin-right: 85px;
    }
  }

  &__icons-wrapper {
    &--type {
      &--modified {
        color: map-get($orange, default);
      }

      &--new {
        color: map-get($green, default);
      }

      &--deleted {
        color: map-get($red, default);
      }
    }
  }

  &__methods-type {
    margin-left: 8px;
    color: $slate-gray;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__methods-count {
    margin-top: 14px;
    color: map-get($monochrome, black);
    font-family: $light-font;
    font-size: 36px;
    line-height: 32px;
  }
}
