@import '../../../../common/style-guide/index';

.test-to-run-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    height: 63px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    color: map-get($color-palette, black100);

    & > * {
      margin-right: 8px;
    }
  }

  &__notification-panel {
    display: flex;
    flex-direction: column;
    padding: 10px 24px;
    font-size: 13px;
    line-height: 20px;
    background-color: map-get($color-palette, light-blue);
    overflow-wrap: break-word;
    color: $slate-gray;

    & > * {
      margin-bottom: 8px;
    }
  }

  &__bold {
    font-family: $semibold-font;
    font-size: 13px;
    line-height: 20px;
  }

  &__command-wrapper {
    &:hover {
      .test-to-run-modal__copy-icon {
        display: initial;
      }
    }
  }

  &__curl-command {
    width: 320px;
  }

  &__copy-icon {
    display: none;
    margin-left: 8px;
    min-width: 16px;
    min-height: 16px;
    color: map-get($color-palette, blue100);
    cursor: pointer;
  }

  &__content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__filter {
    margin-top: 14px;
    margin-left: 24px;
    color: map-get($color-palette, blue100);
  }

  &__methods-list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 16px;
  }

  &__methods-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    padding-left: 24px;
    font-size: 14px;
    margin-bottom: 16px;
    width: 400px;
  }

  &__methods-list-item-icon {
    display: flex;
    align-items: center;
    margin-right: 18px;
  }

  &__methods-info {
    display: flex;
    flex-direction: column;
  }
}
