.modal-layout {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;

  &.small-top-offset {
    .modal-window {
      margin-top: 100px;
    }

    :global {
      .modal-window-animation-enter {
        opacity: 0;
        margin-top: -100px;
      }
      .modal-window-animation-enter-active {
        opacity: 1;
        margin-top: 100px;
      }
      .modal-window-animation-exit {
        opacity: 1;
        margin-top: 100px;
      }
      .modal-window-animation-exit-active {
        opacity: 0;
        margin-top: -100px;
      }
    }
  }
}
.scrolling-content {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $COLOR--black;
  opacity: 0.3;
  transition: opacity 300ms ease-in;
  z-index: 1;
}
:global {
  .modal-backdrop-animation-enter {
    opacity: 0;
  }
  .modal-backdrop-animation-enter-active {
    opacity: 0.3;
  }
  .modal-backdrop-animation-exit {
    opacity: 0.3;
  }
  .modal-backdrop-animation-exit-active {
    opacity: 0;
  }
}
.modal-window {
  display: inline-block;
  width: 745px;
  margin: 200px auto 10px;
  box-sizing: border-box;
  background-color: $COLOR--white;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: margin-top 300ms ease-in, opacity 300ms ease-in;
}
:global {
  .modal-window-animation-enter {
    opacity: 0;
    margin-top: -100px;
  }
  .modal-window-animation-enter-active {
    opacity: 1;
    margin-top: 200px;
  }
  .modal-window-animation-exit {
    opacity: 1;
    margin-top: 200px;
  }
  .modal-window-animation-exit-active {
    opacity: 0;
    margin-top: -100px;
  }
}
