@import '~common/style-guide/index';

.info-card {
  height: 88px;
  padding: 16px;
  border: solid 1px map-get($monochrome, medium-tint);
  font-size: 12px;
  line-height: 16px;
  color: map-get($monochrome, default);

  &__label {
    font-family: $semibold-font;
  }

  &__methods {
    margin-top: 8px;
    margin-bottom: 4px;
  }

  &__covered {
    font-family: $semibold-font;
    font-size: 16px;
    line-height: 18px;
    color: map-get($monochrome, black);
  }

  &__total-count {
    font-family: $regular-font;
    font-size: 14px;
    line-height: 18px;
  }

  &__coverage-bar {
    height: 8px;
    border-radius: 2px;
    background: map-get($monochrome, light-tint);
  }

  &__progress {
    height: 8px;
    border-radius: 2px;
    background: map-get($data-visualization, card-progress-bar);
    transition: width 1000ms ease-in-out;
  }
}
