@import '~common/style-guide/index';

.plugins-settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__info-panel {
    height: 48px;
    padding: 0 24px;
    background-color: map-get($color-palette, ultra-light-blue);
    color: $slate-gray;
    font-size: 14px;
    line-height: 24px;
  }

  &__info-icon {
    margin-right: 8px;
  }

  &__header {
    padding: 24px;
    font-size: 18px;
  }

  &__plugins-count {
    margin-left: 8px;
    font-family: $light-font;
    color: map-get($color-palette, middle-blue);
  }

  &__add-plugin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    min-height: 32px;
    font-size: 14px;
  }

  &__content {
    flex-grow: 1;
    margin: 0px 24px;
  }

  &__plugin-name {
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 22px;
    color: map-get($color-palette, blue100);
  }
}
