@import '~common/style-guide/index';

.not-found-page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  &__content-wrapper {
    flex: 1;
    margin: 89px 0 0 105px;
  }

  &__logo-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    margin: 0 100px 100px 0;
  }

  &__title {
    margin-bottom: 26px;
    color: map-get($color-palette, dark-blue);
    font-size: 64px;
    line-height: 87px;
  }

  &__message {
    color: $slate-gray;
    font-size: 16px;
    line-height: 28px;
  }

  &__error-code {
    color: map-get($color-palette, dark-blue);
    font-size: 14px;
    line-height: 40px;
    font-family: $semibold-font;
  }
}
