@import '../../../../../../common/style-guide/index';

.tests-tooltip {
  display: flex;
  flex-direction: column;

  &__coverage-type-item {
    display: flex;
    text-transform: capitalize;
  }

  &__coverage-type-icon {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 8px;

    &--type {
      &--manual {
        background-color: #00d5ff;
      }
      &--auto {
        background-color: #9600ff;
      }
      &--performance {
        background-color: #e78e00;
      }
    }
  }

  &__value {
    margin-left: 12px;
    font-family: $semibold-font;
    line-height: 20px;
    text-align: right;
    opacity: 0.5;
  }
}
