@import '../../../../common/style-guide/index';

.test-details {
  display: flex;
  flex-direction: column;

  &__title {
    height: 58px;
    font-size: 18px;
    line-height: 24px;

    & > * {
      margin-right: 8px;
    }
  }

  &__test-cell {
    color: map-get($color-palette, black100);
  }
}
