@import '~common/style-guide/index';

.test-details {
  display: flex;
  flex-direction: column;

  &__title {
    height: 58px;
    font-size: 18px;
    line-height: 24px;
  }

  &__table-cell {
    display: flex;
    align-items: center;
    color: map-get($monochrome, black);

    & > * {
      margin-right: 16px;
    }

    &--type {
      &--primary {
        font-family: $semibold-font;
        text-transform: capitalize;
      }
      &--secondary {
        margin-left: 54px;
      }
    }
  }

  &__coverage-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $semibold-font;
    color: map-get($monochrome, black);
  }

  &__coverage-icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: map-get($orange, default);
  }

  &__test-type-cell {
    font-family: $regular-font;
    text-align: left;
  }

  &__status-cell {
    font-family: $semibold-font;

    &--type {
      &--passed {
        color: map-get($green, default);
      }

      &--failed {
        color: map-get($red, default);
      }
    }
  }

  &__method-calls-cell {
    font-family: $semibold-font;
    color: map-get($monochrome, black);
    text-align: right;
    cursor: pointer;

    &--clickable {
      text-decoration: underline;
    }
  }
}
