@import '~common/style-guide/index';

.test-details {
  display: flex;
  flex-direction: column;

  &__title {
    height: 58px;
    font-size: 18px;
    line-height: 24px;
  }

  &__table-cell {
    display: flex;
    align-items: center;
    color: map-get($color-palette, black100);

    & > * {
      margin-right: 16px;
    }

    &--type {
      &--primary {
        font-family: $semibold-font;
        text-transform: capitalize;
      }
      &--secondary {
        margin-left: 54px;
      }
    }
  }

  &__coverage-cell {
    color: map-get($color-palette, black100);
  }

  &__table-cell-content {
    width: 40vw;
  }

  &__method-calls-cell {
    color: map-get($color-palette, black100);
    cursor: pointer;

    &--clickable {
      text-decoration: underline;
    }
  }
}
