@import '~common/style-guide/index';

.manage-sessions-pane {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    height: 64px;
    padding: 16px 24px;
    border-bottom: 1px solid map-get($monochrome, medium-tint);
    font-size: 20px;
    line-height: 32px;
    color: map-get($monochrome, black);
  }

  &__actions-panel {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 16px;
    align-items: center;
    min-height: 80px;
    padding: 0 24px;
    margin-top: auto;
    background-color: map-get($monochrome, light-tint);
  }
}
