@import '~common/style-guide/index';

.agent-registration-page {
  height: 100%;
  width: 100%;

  &__header-icon {
    margin-right: 16px;
  }

  &__cancel-button {
    min-height: 32px;
    width: 78px;
    border: 1px solid $loblolly-color;
    color: $slate-gray;
  }
}
