@import '~common/style-guide/index';

.covered-methods-by-test-type-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    height: 63px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    color: map-get($color-palette, black100);

    & > * {
      margin-right: 8px;
    }
  }

  &__info {
    padding: 8px 24px;
    height: 84px;
    background-color: rgba(map-get($color-palette, light-blue), 0.5);
  }

  &__method-info-label {
    line-height: 32px;
    text-align: right;
    color: map-get($color-palette, dark-blue);
    font-size: 13px;
    font-family: $semibold-font;
  }

  &__method-info-value {
    margin-left: 20px;
    line-height: 32px;
    color: $slate-gray;
    font-size: 13px;
    word-break: break-all;
  }
}
