@import '~common/style-guide/index';

.list {
  display: grid;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid map-get($color-palette, black10);
  }
}
