@import '~common/style-guide/index';

.list {
  display: grid;
  align-items: center;

  &__header {
    @extend %grid-row-styles;
  }

  &__row {
    @extend %grid-row-styles;
    &:hover {
      background-color: rgba(104, 116, 129, 0.05);
    }
  }
}

%grid-row-styles {
  display: grid;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid map-get($color-palette, black10);
}
