@import '../../../../common/style-guide/index';

.card {
  height: 160px;
  width: 100%;
  border: 1px solid map-get($color-palette, light-blue);
  background-color: map-get($color-palette, ultra-light-blue);

  &__header {
    margin: 16px;
    line-height: 20px;
    font-size: 13px;
    font-family: $semibold-font;
    color: $slate-gray;
    text-transform: uppercase;
  }

  &__content {
    margin: 16px;
    display: flex;
    flex-direction: row;
  }

  &__section {
    margin-right: 24px;
  }

  &__section-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
  }
}
