@import '~common/style-guide/index';

.covered-methods-by-test-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    min-height: 64px;
    padding-left: 24px;
    border-bottom: 1px solid map-get($monochrome, light-tint);
    line-height: 32px;

    & > * {
      margin-right: 8px;
    }
  }

  &__modal-name {
    font-size: 20px;
    color: map-get($monochrome, black);
  }

  &__methods-count {
    height: 20px;
    color: map-get($monochrome, default);
    font-size: 16px;
    line-height: 24px;
  }

  &__info {
    height: 84px;
    padding: 8px 24px;
    background-color: map-get($monochrome, light-tint);
    border-top: 1px solid map-get($monochrome, medium-tint);
  }

  &__method-info-label {
    min-width: 32px;
    line-height: 32px;
    text-align: left;
    color: map-get($monochrome, black);
    font-size: 14px;
    font-family: $semibold-font;
  }

  &__method-info-value {
    margin-left: 16px;
    color: map-get($monochrome, default);
    font-size: 14px;
    word-break: break-all;
  }
}
