@import '~common/style-guide/index';

.delete-scope-modal {
  width: 530px;

  &__content {
    margin: 24px;
  }

  &__message {
    font-size: 14px;
    line-height: 24px;
  }

  &__actions-panel {
    margin-top: 38px;
  }

  &__delete-scope-button {
    min-height: 32px;
    width: auto;
    padding: 0 16px;
    margin-right: 16px;
    font-size: 14px;
  }
}
