.forgot-password-page {
  position: relative;
  margin: auto;
  width: 380px;
}

.message {
  width: 100%;
  margin-bottom: 40px;
  font-family: $FONT-SEMIBOLD;
  font-size: 22px;
  color: $COLOR--charcoal-grey;
  text-transform: lowercase;
  text-align: center;

  .big {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 26px;
    text-transform: capitalize;
  }
}

.forgot-password-form {
  position: relative;
  margin-bottom: 98px;
  width: 100%;
}

.field {
  margin-bottom: 25px;
}

.buttons-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.button {
  width: 160px;
  height: 40px;

  &:first-child {
    margin-right: 20px;
  }
}
