@import '../../../common/style-guide/index';

.install-plugins-step {
  min-width: 850px;

  &__info-panel {
    height: 48px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 24px;
    background-color: map-get($color-palette, ultra-light-blue);
    color: $slate-gray;
  }

  &__info-icon {
    margin-right: 8px;
  }

  &__selected-plugins-info {
    margin: 28px 0px 16px 24px;
    font-family: $light-font;
    font-size: 16px;
    color: $gravel-color;
  }

  &__plugins-list {
    margin: 0 24px;
    border-top: 1px solid map-get($color-palette, light-blue);
    border-bottom: 1px solid map-get($color-palette, light-blue);
  }

  &__plugins-list-item {
    display: flex;
    align-items: center;

    &--selected {
      background-color: rgba(248, 231, 28, 0.1);
      color: map-get($color-palette, white);
    }
  }

  &__plugins-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 24px 16px 8px;
    height: 96px;
    min-width: 96px;
    border-radius: 16px;
    background-color: map-get($color-palette, ultra-light-blue);
    color: $slate-gray;

    &--selected {
      background-color: map-get($color-palette, blue100);
      color: map-get($color-palette, white);
    }
  }

  &__plugin-name {
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 22px;
    color: $gravel-color;
  }

  &__plugin-description {
    margin-top: 8px;
    margin-right: 30px;
    font-size: 14px;
    line-height: 22px;
    color: $slate-gray;
  }
}
