@import '~common/style-guide/index';

.action-section {
  border-left: 1px solid map-get($monochrome, medium-tint);
  color: map-get($monochrome, default);

  &__action {
    padding-left: 16px;
    padding-right: 40px;
  }

  &__action-name {
    font-size: 12px;
    line-height: 16px;
    font-family: $semibold-font;
    text-transform: uppercase;
  }

  &__count {
    font-size: 20px;
    line-height: 32px;
    color: map-get($monochrome, black);
    cursor: pointer;

    &:hover {
      color: map-get($primary-blue, medium-tint);
    }
  }

  &__link-icon {
    margin-left: 4px;
    color: map-get($primary-blue, default);
  }

  &__zero-value {
    font-size: 20px;
    line-height: 32px;
  }
}
