.grid-row {
  min-height: 32px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e9eb;

  &.expanded {
    .grid-row-main {
      background-color: #d9ecff;
    }

    .grid-row-additional {

    }
  }

  &.selectable {
    cursor: pointer;
    width: 100%;
  }

  &.selected {
    border: 1px solid;
    background-color: $COLOR--tealish;
  }

  .grid-row-main {
    padding: 8px 0;
  }

  .grid-row-additional {

  }
}
