.grid-row {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 40px;
  border: 1px solid transparent;
  border-bottom: 1px solid $COLOR--black;
  transition: background-color 200ms linear;

  &.expanded {
    height: auto;

    .grid-row-main {
      border-bottom: 1px solid;
    }
    .grid-row-additional {
      background-color: $COLOR--white;
    }
  }

  &.selectable {
    cursor: pointer;
    width: 100%;
  }

  &.selected {
    border: 1px solid;
    background-color: $COLOR--tealish;
  }
}
.grid-row-main {
  position: relative;
}
.grid-row-additional {
  position: relative;
  box-sizing: border-box;
  padding: 15px;
}
