.grid-row {
  min-height: 32px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e9eb;
}

.grid-row .grid-row-main {
  padding: 8px 0;
}

.grid-row.expanded .grid-row-main {
  background-color: #D9ECFF;
}

.grid-row.selectable {
  cursor: pointer;
  width: 100%;
}

.grid-row.selected {
  border: 1px solid;
  background-color: var(--COLOR--tealish);
}
