@import '~common/style-guide/index';

.actions-column {
  color: map-get($color-palette, blue100);

  &__content {
    & > *:not(:first-child) {
      margin-left: 16px;
    }

    & > *:last-child {
      margin-right: 16px;
    }

    & > * {
      cursor: pointer;
    }
  }

  &__register-button {
    line-height: 22px;
    padding: 2px 12px;
    font-size: 12px;
  }

  &__settings-button {
    &--disabled {
      opacity: 0.25;
      pointer-events: none;
    }
  }
}
