@import '~common/style-guide/index';

.finish-scope-modal {
  width: 530px;

  &__content {
    margin: 24px;
  }

  &__ignore-scope {
    margin: 24px 0px 32px 0px;
  }

  &__actions-panel {
    margin-top: 38px;

    & > * {
      margin-right: 16px;
    }
  }
}
