@import '../../../../../../common/style-guide/index';

.coverage-by-type {
  display: flex;
  flex-direction: column;

  &__test-type-icon {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin-right: 8px;

    &--type {
      &--manual {
        background-color: #00d5ff;
      }

      &--auto {
        background-color: #9600ff;
      }

      &--performance {
        background-color: #e78e00;
      }

      &--integration {
        background-color: #73818e;
      }
    }
  }

  &__test-name {
    font-size: 12px;
    line-height: 24px;
  }

  &__coverage {
    font-size: 12px;
    line-height: 17px;
    font-family: $semibold-font;
  }

  &__tests-count {
    font-size: 12px;
    line-height: 17px;
    color: $slate-gray;
  }
}
