@import '../../../../../../common/style-guide/index';

.coverage-by-type {
  display: flex;
  flex-direction: column;

  &__test-type-icon {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin-right: 8px;

    &--type {
      &--manual {
        background-color: #00d5ff;
      }

      &--auto {
        background-color: #9600ff;
      }

      &--performance {
        background-color: #e78e00;
      }

      &--integration {
        background-color: #73818e;
      }
    }
  }

  &__test-name {
    font-size: 12px;
    line-height: 24px;
  }

  &__recording-icon {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: map-get($color-palette, red100);
    margin-right: 3px;
    margin-left: 4px;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;

    @keyframes blinker {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  &__recording-text {
    font-size: 12px;
    line-height: 12px;
    color: map-get($color-palette, red100);
    font-family: $semibold-font;
  }

  &__coverage {
    font-size: 12px;
    line-height: 17px;
    font-family: $semibold-font;
  }

  &__tests-count {
    font-size: 12px;
    line-height: 17px;
    color: $slate-gray;
  }
}
