@import '../../../../common/style-guide/index';

.project-methods-card {
  display: flex;
  flex-direction: row;

  & > :not(:last-child) {
    margin-right: 8px;
  }

  &__card-header {
    font-size: 12px;
    line-height: 16px;
    font-family: $light-font;

    & > * {
      margin-right: 8px;
    }
  }
}
