.empty-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 780px;
  height: auto;
  margin: 110px auto auto;
  box-shadow: 0 1px 3px 0 $COLOR--silver;
  background-color: $COLOR--white-two;
}
.header {
  display: flex;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 0 30px;
  border-bottom: 1px solid $COLOR--silver-opacity;
}
.logo {
  width: 110px;
  height: 30px;
  margin: auto 0;
  background-color: $COLOR--silver;
}
.body {
  position: relative;
  display: flex;
  width: 100%;
  height: 515px;
}
