@import '~common/style-guide/index';

.scope-info {
  &__header {
    height: 80px;
    margin-bottom: 24px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    font-size: 24px;
    color: map-get($color-palette, black100);
  }

  &__scope-name {
    font-size: 24px;
    font-family: $light-font;
    color: map-get($color-palette, black100);
  }

  &__active-badge {
    height: 22px;
    padding: 1px 8px;
    border: 1px solid map-get($color-palette, green100);
    border-radius: 11px;
    font-size: 12px;
    color: map-get($color-palette, green100);
  }

  &__finished-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    height: 20px;
    width: 64px;
    border-radius: 10px;
    border: 1px solid map-get($color-palette, middle-blue);
    font-size: 11px;
    font-family: $semibold-font;
    color: map-get($color-palette, middle-blue);
  }

  &__scope-duration {
    margin-left: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  &__finish-scope-button {
    margin-right: 8px;
  }

  &__project-methods {
    margin-top: 16px;
    width: 100%;
  }

  &__routing-tabs-panel {
    height: 49px;
    width: 100%;
    border-bottom: 1px solid map-get($color-palette, light-blue);
  }

  &__tab-icon-wrapper {
    margin-right: 8px;
  }
}
