@import '~common/style-guide/index';

.manage-sessions-modal {
  width: 480px;

  &__content {
    margin: 24px;
  }

  &__info {
    font-size: 14px;
    line-height: 24px;
  }

  &__actions-panel {
    margin-top: 38px;
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    min-height: 32px;
    width: 144px;
    font-size: 14px;

    & > * {
      margin-right: 8px;
    }
  }
}
