@import '~common/style-guide/index';

.add-plugins-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    height: 63px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    color: map-get($color-palette, black100);
  }

  &__content {
    display: flex;
    flex-grow: 1;
    margin: 16px 24px;
  }

  &__plugins-list {
    width: 100%;
    border: 1px solid map-get($color-palette, light-blue);
    border-radius: 4px;
    background-color: map-get($color-palette, white);
  }

  &__actions {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    background-color: map-get($color-palette, light-blue);

    & > * {
      margin-right: 16px;
    }
  }

  &__add-plugin-button {
    min-height: 32px;
    width: 104px;
    font-size: 14px;
    line-height: 19px;
  }

  &__cancel-button {
    min-height: 32px;
    max-width: 78px;
    background-color: map-get($color-palette, light-blue);
    border: 1px solid $slate-gray;
    color: $slate-gray;
  }
}
