@import '~common/style-guide/index';

.methods-section {
  &__total {
    line-height: 24px;
    font-family: $light-font;
    font-size: 24px;

    &--clickable {
      cursor: pointer;
      background-image: linear-gradient(
        to right,
        map-get($color-palette, black100) 50%,
        transparent 50%
      );
      background-position: 0 1.15em;
      background-repeat: repeat-x;
      background-size: 2px 1px;
    }
  }

  &__additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    margin-top: 17px;
    border-top: 1px solid map-get($color-palette, black10);
  }

  &__additional-info-item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 24px;
    justify-content: space-between;
  }

  &__additional-info-item-header {
    color: $slate-gray;
  }

  &__additional-info-item-value {
    color: map-get($color-palette, black100);
  }
}
