@import '../../../../common/style-guide/index';

.agent-card {
  height: 200px;
  width: 286px;
  border: 1px solid map-get($color-palette, blue100);
  background-color: map-get($color-palette, white);
  cursor: pointer;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 14px 16px 16px 16px;
    font-size: 14px;
    font-family: $semibold-font;
  }

  &__header-name {
    color: map-get($color-palette, blue100);
  }

  &__header-icons-wrapper {
    color: map-get($color-palette, blue100);

    & > * {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &__drill-status {
    display: flex;
    align-items: center;
    margin: 14px 16px 16px 16px;
    font-family: $semibold-font;
  }

  &__active-plugins {
    margin-left: 100px;
    font-size: 13px;
    line-height: 20px;
    color: map-get($color-palette, middle-blue);
  }

  &__register-agent {
    margin: 14px 16px 16px 16px;
    min-height: 32px;
    width: 108px;
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 19px;
  }

  &__register-icon {
    margin-right: 8px;
  }

  &__desctiption {
    color: map-get($color-palette, middle-blue);
    margin: 14px 16px 16px 16px;
    font-size: 13px;
    line-height: 22px;
  }

  &--selected {
    border: 1px solid map-get($color-palette, yellow100);
    background-color: rgba(248, 231, 28, 0.1);
  }

  &--disabled {
    background-color: $athens-gray;
    border: none;
  }
}
