@import '../../../../common/style-guide/index';

.agent-card {
  height: 200px;
  width: 286px;
  border: 1px solid map-get($color-palette, blue100);
  background-color: map-get($color-palette, white);

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 14px 16px 16px 16px;
    color: map-get($color-palette, blue100);
    font-size: 14px;
    font-weight: 600;
  }

  &__header-icons-wrapper {
    & > * {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &__drill-status {
    margin: 14px 16px 16px 16px;
  }

  &__desctiption {
    color: map-get($color-palette, middle-blue);
    margin: 14px 16px 16px 16px;
    font-size: 13px;
    line-height: 22px;
  }
}
