@import '../../../../common/style-guide/index';

.methods-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    height: 63px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    color: map-get($color-palette, black100);

    & > * {
      margin-right: 8px;
    }

    :first-letter {
      text-transform: capitalize;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 16px 24px;
    overflow-y: hidden;
  }

  &__methods-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
  }

  &__methods-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    word-break: break-all;
    overflow: hidden;
  }

  &__methods-list-item-icon {
    margin-right: 18px;
  }

  &__method-signature {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  &__method-descriptor {
    font-size: 12px;
    color: $slate-gray;
  }

  &__coverage-icon-wrapper {
    margin-left: 16px;
    &--type {
      &--success {
        color: map-get($color-palette, green100);
      }

      &--warning {
        color: map-get($color-palette, yellow50);
      }

      &--error {
        color: map-get($color-palette, red100);
      }
    }
  }
}
