@import '~common/style-guide/index';

.build-coverage-info {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 16px;
  color: map-get($monochrome, default);

  &__title {
    font-family: $semibold-font;
  }

  &__detailed-code-coverage-info {
    display: flex;
    align-items: baseline;
    margin: 24px 0 12px 0;
    font-size: 12px;
  }

  &__build-coverage-percentage {
    margin-right: 8px;
    font-size: 32px;
    line-height: 40px;
    color: map-get($monochrome, black);
  }

  &__link {
    font-family: $semibold-font;
    color: map-get($primary-blue, default);
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;

    &:hover {
      color: map-get($primary-blue, medium-tint);
    }
  }
}
