@import '~common/style-guide/index';

.cancel-agent-registration-modal {
  width: 480px;

  &__header-icon {
    display: flex;
    color: map-get($color-palette, red100);
  }

  &__content {
    margin: 24px;
  }

  &__message {
    font-size: 14px;
  }

  &__actions-panel {
    margin-top: 24px;

    :first-child {
      margin-right: 16px;
    }
  }
}
