@import '~common/style-guide/index';

.item-info {
  background-color: map-get($monochrome, light-tint);
  border-top: 1px solid map-get($monochrome, medium-tint);
  border-bottom: 1px solid map-get($monochrome, medium-tint);

  &__content {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
  }

  &__label {
    min-width: 56px;
    text-align: left;
    color: map-get($monochrome, black);
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 32px;
  }

  &__value {
    display: flex;
    align-items: center;
    margin-left: 16px;
    line-height: 32px;
    color: map-get($monochrome, default);
    font-size: 14px;
    word-break: break-all;
    cursor: pointer;
  }
}
