@import '~common/style-guide/index';

.install-plugins-step {
  min-width: 850px;

  &__selected-plugins-info {
    margin: 16px 40px;
    font-size: 20px;
    line-height: 32px;
    color: map-get($monochrome, default);
  }

  &__plugins-list {
    margin: 0 24px;
  }

  &__plugin-name {
    font-family: $semibold-font;
    color: map-get($monochrome, black);
  }

  &__plugin-version {
    color: map-get($monochrome, default);
  }

  &__plugin-info {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
  }
}
