@import '~common/style-guide/index';

.install-plugins-step {
  min-width: 850px;

  &__selected-plugins-info {
    margin: 28px 0px 16px 24px;
    font-family: $light-font;
    font-size: 16px;
    color: $gravel-color;
  }

  &__plugins-list {
    margin: 0 24px;
  }

  &__plugin-name {
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 22px;
    color: $gravel-color;
  }

  &__plugin-version {
    font-size: 14px;
    line-height: 22px;
    color: map-get($color-palette, black75);
  }
}
