.login-page {
  position: relative;
  margin: auto;
  width: 380px;
}

.message {
  width: 100%;
  margin-bottom: 40px;
  font-family: $FONT-SEMIBOLD;
  font-size: 22px;
  color: $COLOR--charcoal-grey;
  text-transform: lowercase;
  text-align: center;

  .big {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 26px;
    text-transform: capitalize;
  }
}

.login-form {
  position: relative;
  width: 100%;
}

.field {
  margin-bottom: 25px;

  &:nth-child(2) {
    margin-bottom: 15px;
  }
}

.forgot-password-link {
  a {
    font-family: $FONT-REGULAR;
    font-size: 13px;
    color: $COLOR--tealish;
    line-height: 18px;
    text-decoration: none;
  }
}

.buttons-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.button {
  width: 160px;
  height: 40px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
