@import '~common/style-guide/index';

.system-registration-settings-step {
  &__content {
    margin: 24px;
  }

  &__field-name {
    margin-bottom: 8px;
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 20px;
    color: map-get($monochrome, black);
  }

  &__packages-textarea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 728px;
  }

  &__project-packages {
    height: 80px;
    font-size: 14px;
    line-height: 24px;
    color: map-get($monochrome, black);
  }

  &__instructions {
    max-width: 280px;
    margin-left: 24px;
    color: map-get($monochrome, default);
    font-size: 12px;
    line-height: 16px;
  }

  &__header-mapping {
    margin-top: 16px;
    max-width: 728px;
  }

  &__target-host {
    margin-top: 16px;
    max-width: 728px;
  }
}
