@import '~common/style-guide/index';

.multi-progress-bar {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background: map-get($monochrome, light-tint);

  &__message {
    text-align: center;
  }

  &__scope-coverage {
    display: flex;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }

  &__overlapping-code-progress-bar {
    display: flex;
    transform: scale(-1);
  }
}
