@import '~common/style-guide/index';

.multi-progress-bar {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background: map-get($monochrome, light-tint);

  &__message {
    text-align: center;
  }

  &__overlapping-code-progress-bar {
    position: absolute;
    transform: scale(-1);
    bottom: 10px;
  }

  &__unique-code-coverage-progress-bar {
    position: absolute;
    bottom: 6px;
  }
}
