@import '../../../common/style-guide/index';

.layout-switch {
  display: flex;
  flex-direction: row;
  min-height: 32px;
  width: 72px;
  border: 1px solid map-get($color-palette, blue100);
  color: map-get($color-palette, blue100);
  border-radius: 16px;

  %item-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: 36px;
    cursor: pointer;
  }

  &__left-item {
    @extend %item-layout;
    border-radius: 16px 0 0 16px;

    &--active {
      background-color: map-get($color-palette, blue100);
      color: map-get($color-palette, white);
    }
  }

  &__right-item {
    @extend %item-layout;
    border-radius: 0 16px 16px 0;

    &--active {
      background-color: map-get($color-palette, blue100);
      color: map-get($color-palette, white);
    }
  }
}
