@import '../../../../../common/style-guide/index';

.no-scope-stub {
  height: 100%;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: map-get($color-palette, middle-blue);
  }

  &__instructions {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $slate-gray;
  }

  &__start-new-scope {
    min-height: 32px;
    width: 160px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 19px;
  }

  &__new-scope-icon {
    margin-right: 8px;
    color: map-get($color-palette, blue100);
  }
}
