@import '~common/style-guide/index';

.associated-test-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    min-height: 64px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
  }

  &__modal-name {
    color: map-get($monochrome, black);
  }

  &__tests-count {
    margin-left: 8px;
    font-family: $light-font;
    color: map-get($monochrome, default);
  }
}
