@import '~common/style-guide/index';

.coverage-details {
  display: flex;
  flex-direction: column;

  &__not-found {
    display: grid;
    place-items: center;
    margin-top: 48px;
    color: map-get($monochrome, medium-tint);
  }

  &__title {
    margin: 16px 0 8px 0;
    font-size: 20px;
    line-height: 32px;
    color: map-get($monochrome, default);
  }

  &__message {
    font-size: 14px;
    line-height: 20px;
    color: map-get($monochrome, default);
    text-align: center;
  }

  &__search-field {
    margin: 24px 0 12px 0;
  }

  &__search-result {
    padding-top: 16px;
    margin-left: 16px;
    font-size: 12px;
    line-height: 20px;
    color: map-get($monochrome, default);
  }
}
