@import '~common/style-guide/index';

.logs-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
