@import '~common/style-guide/index';

.notifications {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px;
    height: 80px;
    font-size: 12px;
    color: $slate-gray;
    border-bottom: 1px solid map-get($color-palette, light-blue);

    & > *:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &:hover {
    background-color: rgba(104, 116, 129, 0.05);

    .notifications__button-group {
      display: flex;
    }

    .notifications__since-notification-arrived {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      background: linear-gradient(to right, currentColor 40%, transparent 80%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__since-notification-arrived {
    height: 1.4em;
  }

  &__build-version {
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-size: 13px;
    color: map-get($color-palette, dark-blue);

    &--unread {
      font-family: $semibold-font;
    }
  }

  &__notification-status-indicator {
    height: 8px;
    width: 8px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: map-get($color-palette, black15);

    &--unread {
      background-color: $slate-gray;
    }
  }

  &__button-group {
    display: none;
    width: 48px;
    color: map-get($color-palette, blue100);
  }

  &__mark-as-read-button {
    height: 16px;
    color: map-get($color-palette, blue100);
    cursor: pointer;

    &--read {
      display: none;
    }

    &:hover {
      color: map-get($color-palette, blue75);
    }

    &:active {
      color: map-get($color-palette, blue125);
    }
  }

  &__delete-notification-button {
    height: 16px;
    color: map-get($color-palette, red100);
    cursor: pointer;

    &--read {
      margin-left: 32px;
    }

    &:hover {
      color: map-get($color-palette, red50);
    }

    &:active {
      color: map-get($color-palette, red125);
    }
  }

  &__link-to-dashboard {
    text-decoration: none;
    color: map-get($color-palette, blue100);
    cursor: pointer;

    &:hover {
      color: map-get($color-palette, blue75);
    }

    &:active {
      color: map-get($color-palette, blue125);
    }

    &::after {
      content: '·';
      margin: 0px 4px;
    }
  }

  &__notification-button {
    color: map-get($color-palette, blue100);
    cursor: not-allowed;
    opacity: 0.5;
  }
}
