.screen-lock {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--COLOR--black);
  opacity: 0.3;
}

.preloader-wrapper {
  margin: auto;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  box-shadow: 0 0 60px 20px rgba(255, 255, 255, 0.6);
}
