@import '~common/style-guide/index';

.not-implemented-stub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &__message {
    margin-top: 32px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  &__instructions {
    margin-top: 8px;
    width: 400px;
    color: $slate-gray;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
