@import '../../../common/style-guide/index';

.breadcrumbs {
  height: 100%;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 24px;
  }

  &__item {
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 20px;
    color: map-get($color-palette, blue100);
    cursor: pointer;

    &--active {
      font-family: $regular-font;
      color: map-get($color-palette, black100);
    }
  }

  &__divider {
    font-family: $regular-font;
    color: map-get($color-palette, black100);
    margin: 0 8px;
  }
}
