@import '~common/style-guide/index';

.rename-scope-modal {
  width: 480px;

  &__content {
    margin: 24px;
  }

  &__actions-panel {
    margin-top: 38px;

    :first-child {
      margin-right: 16px;
    }
  }
}
