@import '../../../../common/style-guide/index';

.coverage-rate-icon {
  &__icon-wrapper {
    margin-left: 16px;
    &--rate {
      &--full {
        color: map-get($color-palette, green100);
      }

      &--partly {
        color: map-get($color-palette, yellow50);
      }

      &--missed {
        color: map-get($color-palette, red100);
      }
    }
  }
}
