@import '~common/style-guide/index';

.coverage-rate-icon {
  &__icon-wrapper {
    height: 16px;
    margin-left: 16px;

    &--rate {
      &--full {
        color: map-get($monochrome, dark-tint);
      }

      &--partly {
        color: map-get($orange, default);
      }

      &--missed {
        color: map-get($red, default);
      }
    }
  }
}
