@import '../../../common/style-guide/index';

.system-registration-settings-form {
  &__info-panel {
    height: 48px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 24px;
    background-color: map-get($color-palette, ultra-light-blue);
    color: $slate-gray;
  }

  &__content {
    margin: 16px 24px;
  }

  &__field-name {
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, black100);
  }

  &__project-packages {
    height: 120px;
    max-width: 728px;
    font-size: 14px;
    line-height: 24px;
  }

  &__project-packages {
    height: 120px;
    max-width: 728px;
    font-size: 14px;
    line-height: 24px;
  }

  &__instructions {
    max-width: 352px;
    margin-left: 24px;
    color: $slate-gray;
    font-size: 12px;
    line-height: 20px;
  }

  &__header-mapping {
    max-width: 728px;
  }
}
