@import '../../common/style-guide/index';

.sidebar {
  width: 65px;
  height: 100%;
  background-color: $athens-gray;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 100%;
    cursor: pointer;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 65px;
    border-bottom: 1px solid $athens-gray-dark;
    border-top: 1px solid $athens-gray-dark;
    cursor: pointer;
    color: $regent-gray;

    &--type {
      &--active {
        color: $white-color;
        background-color: $azure-radiance;
      }
    }
  }
}
