@import '../../common/style-guide/index';

.sidebar {
  width: 100%;
  min-width: 80px;
  height: 100%;
  background-color: $athens-gray;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    cursor: pointer;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    border-top: 1px solid map-get($color-palette, light-blue);
    cursor: pointer;
    color: map-get($color-palette, middle-blue);

    &--type {
      &--active {
        color: map-get($color-palette, white);
        background-color: map-get($color-palette, blue100);
      }
    }
  }
}
