$white-color: #fff;
$black-color: #000;
$topaz-color: #1a9cb0;
$tealish-color: #39c2d7;
$booger-color: #a3c644;
$tomato-color: #ed5a43;
$azure-radiance: #007fff;
$slate-gray: #74818e;
$dark-blue: #0f2434;
$red-color: #ff0202;
$athens-gray: #f2f4f7;
$athens-gray-dark: #e9ebf0;
$regent-gray: #8f9da8;
$thunder-color: #1b191b;
