$white-color: #fff;
$black-color: #000;
$topaz-color: #1a9cb0;
$tealish-color: #39c2d7;
$booger-color: #a3c644;
$tomato-color: #ed5a43;
$azure-radiance: #007fff;
$slate-gray: #74818e;
$dark-blue: #0f2434;
