@import '~common/style-guide/index';

.footer {
  opacity: 0.75;
  font-size: 12px;
  line-height: 32px;
  color: $slate-gray;

  &__content-wrapper {
    padding: 0 24px;
  }

  &__content {
    width: 100%;
    border-top: 1px solid map-get($color-palette, light-blue);
  }

  &__admin-info {
    & > *:not(:last-child)::after {
      content: '\2022';
      margin: 0 8px;
    }
  }

  &__link {
    text-decoration: none;
    color: $slate-gray;
    &:not(:last-child)::after {
      content: '\2022';
      margin: 0 8px;
    }
  }
}
