@import '~common/style-guide/index';

.system-settings-form {
  &__info-panel {
    height: 48px;
    padding: 0 24px;
    background-color: map-get($color-palette, ultra-light-blue);
    color: $slate-gray;
    font-size: 14px;
    line-height: 24px;
  }

  &__info-icon {
    margin-right: 8px;
  }

  &__save-changes-button {
    max-height: 32px;
    width: 142px;
  }

  &__error-message {
    height: 40px;
    width: 100%;
    background-color: rgba(255, 2, 2, 0.1);
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, red100);
  }

  &__error-message-icon {
    margin-left: 24px;
    margin-right: 8px;
  }

  &__content {
    margin: 24px 24px;
  }

  &__field-name {
    margin-bottom: 8px;
    color: map-get($color-palette, black100);
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 24px;
  }

  &__blocker-status {
    color: $slate-gray;
    margin-left: 8px;
    line-height: 0;
    cursor: pointer;

    &--unlocked {
      color: map-get($color-palette, red100);
    }
  }

  &__secured-message {
    font-family: $light-font;
    font-size: 12px;
    line-height: 16px;
  }

  &__packages-textarea {
    display: flex;
    flex-direction: column;
    max-width: 728px;
    flex-grow: 1;
  }

  &__project-packages {
    height: 120px;
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, dark-blue);

    &--disabled {
      background-color: map-get($color-palette, ultra-light-blue);
      color: $slate-gray;
    }
  }

  &__instructions {
    max-width: 352px;
    margin-left: 24px;
    color: $slate-gray;
    font-size: 12px;
    line-height: 20px;
  }

  &__header-mapping {
    max-width: 728px;
  }

  &__target-host {
    margin-top: 16px;
    max-width: 728px;
  }
}
