@import '../../../../../common/style-guide/index';

.card {
  height: 240px;
  width: 100%;
  border: 1px solid map-get($color-palette, light-blue);
  background-color: map-get($color-palette, white);

  &__header {
    margin: 16px;
    line-height: 20px;
    font-size: 14px;
    font-family: $semibold-font;
  }

  &__content {
    margin: 16px;
    display: flex;
    flex-direction: row;
  }

  &__section {
    margin-right: 24px;
  }

  &__section-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
  }

  &__section-label {
    font-size: 12px;
    line-height: 24px;
    color: $slate-gray;
  }
}
