@import '~common/style-guide/index';

.name-column {
  font-size: 14px;
  font-family: $semibold-font;
  line-height: 48px;

  &__agent-type-icon {
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: map-get($color-palette, dark-blue);
  }

  &__agent-name {
    margin-left: 8px;
    color: map-get($color-palette, blue100);
    cursor: pointer;
  }

  &--unregistered {
    pointer-events: none;
    color: $slate-gray;
  }
}
