@import '../../../../common/style-guide/index';

.name-column {
  color: map-get($color-palette, blue100);
  font-size: 14px;
  font-family: $semibold-font;
  line-height: 48px;
  cursor: pointer;
}
