.plugins-sidebar {
  position: fixed;
  width: 80px;
  height: 100vh;
  border-right: 1px solid;
  z-index: 1;
}

.plugins-sidebar .item {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  text-decoration: none;
  color: var(--COLOR--black);
}

.plugins-sidebar .item.active {
  background-color: var(--COLOR--booger);
}
