@import '~common/style-guide/index';

.no-tests-stub {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: map-get($color-palette, black10);

  &__icon {
    margin-top: 110px;
  }

  &__title {
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
    color: $slate-gray;
  }

  &__message {
    margin-top: 8px;
    width: 400px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $slate-gray;
  }
}
