@import '~common/style-guide/index';

.dashboard-header-cell {
  &__content {
    border-left: 1px solid map-get($color-palette, black10);
  }

  &__label {
    font-family: $semibold-font;
    font-size: 12px;
    color: $slate-gray;
    text-transform: uppercase;
    margin-left: 16px;
  }

  &__value {
    display: inline-grid;
    grid-template-columns: max-content;
    margin-left: 16px;
    font-size: 20px;
    color: map-get($color-palette, black100);
    pointer-events: none;

    &--clickable {
      background-image: linear-gradient(
        to right,
        map-get($color-palette, black100) 50%,
        transparent 50%
      );
      background-position: 0 1.15em;
      background-repeat: repeat-x;
      background-size: 2px 1px;
      pointer-events: auto;
      cursor: pointer;
    }
  }

  &__arrow-icon {
    height: 14px;
    width: 12px;
    margin-right: 8px;

    &--type {
      &--increase {
        color: map-get($color-palette, green100);
      }
      &--decrease {
        color: map-get($color-palette, red100);
      }
    }
  }
}
