@import '../../../common/style-guide/index';

.agent-card {
  height: 200px;
  width: 286px;
  border: 1px solid $azure-radiance;
  background-color: $white-color;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 14px 16px 16px 16px;
    color: $azure-radiance;
    font-size: 14px;
    font-weight: 600;
  }

  &__header-icons-wrapper {
    & > * {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &__drill-status {
    margin: 14px 16px 16px 16px;
  }

  &__desctiption {
    color: $regent-gray;
    margin: 14px 16px 16px 16px;
    font-size: 13px;
    line-height: 22px;
  }
}
