.empty-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 780px;
    height: auto;
    margin: 110px auto auto;
  }

  &__header {
    display: flex;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 30px;
  }

  &__logo {
    width: 110px;
    height: 30px;
    margin: auto 0;
  }

  &__content {
    position: relative;
    display: flex;
    width: 100%;
    height: 515px;
  }
}
