@import '~common/style-guide/index';

.quality-gate-configuration-url {
  min-width: 300px;
  max-width: 300px;
  font-size: 12px;
  line-height: 16px;
  color: map-get($primary-blue, default);
  word-break: break-all;

  & > *:not(:first-child) {
    margin-left: 16px;
  }

  &__curl-flag {
    min-width: 18px;
    font-family: $semibold-font;
    color: map-get($monochrome, black);

    &--color {
      &--red {
        color: map-get($red, default);
      }
    }

    &--invisible {
      opacity: 0;
    }
  }
}
