@import '~common/style-guide/index';

.plugin-list-entry {
  border-bottom: 1px solid map-get($monochrome, medium-tint);
  cursor: pointer;

  &:first-child {
    border-top: 1px solid map-get($monochrome, medium-tint);
  }

  &:hover {
    background-color: rgba(104, 116, 129, 0.05);
  }

  &__plugin-elements {
    display: flex;
    align-items: center;
    padding: 0 16px;

    &--selected {
      background-color: rgba(0, 127, 255, 0.15);
      color: map-get($monochrome, white);
    }
  }

  &__plugins-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 24px 16px 16px;
    height: 80px;
    min-width: 80px;
    border-radius: 16px;
    background-color: map-get($monochrome, light-tint);
    color: $slate-gray;

    &--selected {
      background-color: map-get($primary-blue, default);
      color: map-get($monochrome, white);
    }
  }

  &__plugin-description {
    font-size: 14px;
    line-height: 20px;
    color: map-get($monochrome, default);
  }
}
