.header-cell {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  height: 47px;
  vertical-align: top;
  padding-right: 8px;

  &.expand-cell {
    padding: 0;
  }
}

.title {
  width: 100%;
  overflow: hidden;
  margin: auto 0;
  font-family: $FONT-SEMIBOLD;
  font-size: 14px;
  text-overflow: ellipsis;
}

.expand-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: auto;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 200ms linear;

  svg {
    fill: #1A9CB0;
  }

  &.expanded {
    transform: rotate(0deg);
  }
}
