@import '~common/style-guide/index';

.recommended-actions {
  height: 100%;
  width: 100%;

  &__title {
    width: 100%;
    font-size: 14px;
    line-height: 32px;
    font-family: $semibold-font;
    padding-bottom: 8px;
  }

  &__content {
    padding: 12px 16px;
    border: 1px solid map-get($color-palette, green100);
    background-color: rgba(0, 182, 2, 0.05);
  }

  &__action-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 32px;
    color: map-get($color-palette, black100);
  }

  &__action-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    color: map-get($color-palette, green100);
  }
}
