@import '../../../../../common/style-guide/index';

.name-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__class-name {
    height: 19px;
    color: map-get($color-palette, black100);
    font-size: 14px;
    font-weight: 600;
  }

  &__class-path {
    height: 16px;
    font-size: 12px;
    color: $slate-gray;
  }
}
