@import '~common/style-guide/index';

.name-call {
  display: flex;
  align-items: center;

  &__prefix {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__content {
    height: 16px;
    margin-right: 8px;
    color: map-get($monochrome, black);
    font-size: 14px;
    line-height: 16px;
    font-family: $semibold-font;
  }
}
