@import '~common/style-guide/index';

.plugin-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__sidebar {
    height: 100%;
    max-width: 80px;
  }

  &__with-sidebar-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  &__toolbar {
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    border-bottom: 1px solid map-get($color-palette, light-blue);
  }

  &__header {
    height: 112px;
    width: 100%;
    flex-shrink: 0;
    border-bottom: 1px solid map-get($color-palette, light-blue);
  }

  &__breadcrumbs {
    height: 40px;
    width: 100%;
    flex-shrink: 0;
    border-bottom: 1px solid map-get($color-palette, light-blue);
  }

  &__overflow-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 24px;
  }

  &__footer {
    width: 100%;
  }
}
