@import '~common/style-guide/index';

.settings-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header-icon {
    margin-right: 16px;
  }

  &__agent-status {
    margin-top: 8px;
    margin-left: 16px;
    line-height: 20px;
  }

  &__tabs-panel {
    margin: 0 24px;
  }

  &__tab-content {
    flex: 1;
  }
}
