@import '~common/style-guide/index';

.unregister-agent-modal {
  width: 480px;

  &__header-icon {
    margin-right: 8px;
    color: map-get($color-palette, red100);
  }

  &__error-message {
    height: 40px;
    width: 100%;
    background-color: rgba(255, 2, 2, 0.1);
    font-size: 14px;
    line-height: 24px;
    color: map-get($color-palette, red100);
  }

  &__error-message-icon {
    margin-left: 24px;
    margin-right: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 24px;
  }

  &__notification {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 24px;
  }

  &__unregister-button {
    min-height: 32px;
    width: 208px;
    font-family: $semibold-font;
    font-size: 14px;
  }

  &__cancel-button {
    margin-left: 16px;
    min-height: 32px;
    width: 78px;
    border: 1px solid $loblolly-color;
    color: $slate-gray;
  }
}
