.no-items-view {
  position: relative;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-content {
  margin-top: 25px;
  text-align: center;
}

.text-content .top {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  font-family: var(--FONT-SEMIBOLD);
  font-size: 18px;
  line-height: 25px;
}

.text-content .bottom {
  font-family: var(--FONT-REGULAR);
  font-size: 14px;
  line-height: 20px;
}
