@import '~common/style-guide/index';

.name-column {
  font-size: 14px;
  font-family: $semibold-font;
  line-height: 48px;

  &__agent-type-icon {
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: map-get($monochrome, black);

    &[disabled] {
      color: map-get($monochrome, default);
    }
  }

  &__new-agent-badge {
    max-height: 20px;
    margin-right: 8px;
  }

  &__agent-name {
    color: map-get($primary-blue, default);
    cursor: pointer;

    &--disabled {
      pointer-events: none;
      color: map-get($monochrome, default);
    }
  }

  &--with-margin {
    margin-left: 36px;
  }
}
