@import '~common/style-guide/index';

.methods-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    height: 100%;
    width: 100%;
    margin-bottom: 16px;
    overflow-y: hidden;
  }

  &__filter {
    margin-top: 14px;
    margin-left: 24px;
    color: map-get($color-palette, blue100);
  }

  &__methods {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
  }

  &__method {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    font-size: 12px;
  }

  &__method-icon {
    display: flex;
    align-items: center;
    margin-right: 18px;
  }

  &__method-info {
    display: flex;
    flex-direction: column;
  }

  &__method-package {
    width: 280px;
    color: $slate-gray;
  }
}
